{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}

{% block active_home %}
active
{% endblock %}

{% block body %}
<div class="container bootstrap snippets bootdey mt-5">
  {% for post in posts %}
<div class="col-md-8">
  <div class="box box-widget">
    <div class="box-header with-border">
      <div class="user-block">
        <img class="img-circle" src="{{post.profile.profile_image.url}}" alt="User Image">
        <span class="username">{{post.user.username}}</span>
        <span class="description">7:30 PM Today</span>
      </div>
    </div>
    <div class="box-body" style="display: block;">
      <img class="img-responsive pad img-fluid" src="{{post.image.url}}" alt="Photo">
      <p>{{post.content}}</p>
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}