{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block head %}
<!-- write your code here -->
{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">

{% endblock %}

{% block active_home %}
active
{% endblock %}


{% block body %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="headbar">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVLqfekg_kitC_QJ5kgBUTh2tt5EIcxEnQDQ&usqp=CAU" class="img-thumbnail" alt="...">
                <div class="profile">
                    <h6 class="profile-name">Naman Goyal</h6>
                    <!-- <p class="time">2d ago</p> -->
                    <p class="card-text time"><small class="text-muted"> 2 days ago</small></p>
                </div>
            </div>
          <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti maxime molestias laboriosam optio deserunt magni eos vero consectetur debitis. Fuga modi laudantium atque aliquam eaque magnam dolores officiis rerum praesentium?</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPhZpix6A5mOmlZ60y-NXw5bVMzPR_xYD17Q&usqp=CAU" class="card-img-bottom " alt="...">
        <!-- <img src="..." class="" alt="..."> -->
      </div>
</div>

<!-- <h1>Hello World</h1> -->

{% endblock %}