{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}
{% block active_profile %}
active
{% endblock %}

{% block body %}
<style>
    body{
    background-color: #ecf0f5;
}
.card-text{
    
    display: flex;
}
h6{
    margin: 0;
    padding-top: 0.15rem;
    padding-right: 0.4rem;
}
</style>
<div class="container">
    <div class="card mb-3" style="max-width: 630px;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        <div class="row g-0">
          <!-- <div class="col-md-4"> -->
            <img src="{{profile.profile_image.url}}" class="img-fluid col-md-4 " alt="...">
          <!-- </div> -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-3">{{profile.user.username}}</h5>
              <div class="card-text">
                  <h6>Email:</h6>
                  <p><small>{{profile.user.email}}</small></p>
              </div>
              <div class="card-text">
                  <h6>Contact Number:</h6>
                  <p><small>{{profile.contact}}</small></p>
              </div>
              <div class="card-text">
                  <h6>Bio:</h6>
                  <p><small>{{profile.bio}}</small></p>
              </div>
              <div class="card-text">
                  <h6>Website:</h6>
                  <p><small>{{profile.url}}</small></p>
              </div>
              <a class="btn btn-primary">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}