.card{
    width:50rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
img{
    height:24rem;
}
.img-thumbnail{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
.headbar{
    display: flex;
    margin-bottom: 1rem;
}
.profile{
    margin-left: 1rem;
}
p{
    font-size: 12px;
}
.profile-name{
    margin: 0;
    margin-top: 0.5rem;
}
.time{
    margin-bottom: 0;
    margin-top: 0.4rem;
}